networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: ~/data/mariadb
      o: bind
      type: none

  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: ~/data/wordpress
      o: bind
      type: none

services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception
    restart: on-failure

  nginx:
    container_name: nginx
    build: requirements/nginx
    depends_on:
      - wordpress
    ports:
      - "8443:443"
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    restart: on-failure

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    depends_on: 
      - mariadb
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    restart: on-failure
