# Generic section (empty)
[server]

# Main section
[mysqld]

user                    = mysql						# OS server account used by MariaDB
pid-file                = /run/mysqld/mysqld.pid	# File where the MySQL PID is stored
socket                  = /run/mysqld/mysqld.sock	# Socket file for local connections
port                    = 3306						# Default MariaDB port
basedir                 = /usr						# Root directory
datadir                 = /var/lib/mysql			# Directory where database files are stored
tmpdir                  = /tmp						# Directory for temp files
lc-messages-dir         = /usr/share/mysql			# Location of error logs translation

bind-address            = 0.0.0.0 # Port MySQL listens to (all)

query_cache_size        = 16M # Size of cache that stores results of SELECT queries

log_error = /var/log/mysql/error.log # Location of error logs

expire_logs_days        = 10 # Expiry date for binary logs

character-set-server  = utf8mb4				# Default character set
collation-server      = utf8mb4_general_ci	# Default sorting and comparison rules

# Other sections (empty)
[embedded]

[mariadb]

[mariadb-10.3]